{% extends "Students/base.html" %}
{% block content %}
		<hr width = "60%"></hr>
		<br></br>
		
		<div class = "container">
			<h2 id = "BoldText">Final Project - Grant ELL </h2>
			<h3 id = "BoldText">BUS 443(001)</h3>
			<ul>
				<li id = "BoldText">How to use</li>
				<ul>
					<li>(1)Login</li>
					<li>(2)Use navbar to inspect student and course records</li>
					<li>(3)Enroll students into courses using the enrollment page</li>
					<li>(4)Logout</li>
					<li>**Remember a student can only be enrolled in 3 courses, and cannot take the same course twice!**</li>
				</ul>
		</div>

{% endblock %}